<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body class="black">
    <div class="container">

      <nav>
        <div class="nav-wrapper cyan darken-2">
          <a href="/" class="brand-logo">YouShoe</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" data-activates="brands-slide-out" class="side-list">Brands</a></li>
            <li><a href="#" data-activates="stores-slide-out" class="side-list">Stores</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>

    <ul id="brands-slide-out" class="side-nav cyan darken-2">
      <% if @brands.any? %>
      <h3><a href="/brands" class="waves-effect black-text"><strong>Brands</strong></a></h3>
        <% @brands.each() do |brand| %>
          <% if @brands.all().count >= 8 %>
            <% count = 0 %>
            <% until count == 8 %>
              <li><a class="waves-effect cyan black-text" href="/brands/<%= brand.id() %>"><%= brand.name() %></a></li>
              <% count += 1 %>
            <% end %>
          <% else %>
          <li><a class="waves-effect cyan black-text" href="/brands/<%= brand.id() %>"><%= brand.name() %></a></li>
          <% end %>
        <% end %>
        <li><a class="waves-effect cyan darken-1 black-text" href="/brands">View All Brands ></a></li>
      <% else %>
        <li><a class='waves-effect cyan black-text'>No Brands Yet</a></li>
      <% end %>
    </ul>

    <ul id="stores-slide-out" class="side-nav cyan darken-2">
      <% if @stores.any? %>
      <h3><a href="/stores" class="waves-effect black-text">Stores</a></h3>
        <% @stores.each() do |store| %>

          <% if @stores.all().count >= 8 %>
            <% count = 0 %>
            <% until count == 8 %>
              <li><a class="waves-effect cyan black-text" href="/stores/<%= store.id() %>"><%= store.name() %></a></li>
              <% count += 1 %>
            <% end %>
          <% else %>
          <li><a class="waves-effect cyan black-text" href="/stores/<%= store.id() %>"><%= store.name() %></a></li>
          <% end %>
        <% end %>
        <li><a class="waves-effect cyan darken-1 black-text" href="/stores">View All Stores ></a></li>
      <% else %>
        <li><a class='waves-effect cyan black-text'>No Stores Yet</a></li>
      <% end %>
    </ul>

  </body>
</html>
